<div class="tattoo-card-container">
  <div class="swiper swiper-tattoo-cards">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% tattoos.each_with_index do |tattoo, index| %>
          <% if tattoo.photo.key %>
            <%= render 'artists/tattoo_cards', tattoo:tattoo, index:index %>
          <% end %>
        <% end %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
</div>
