<div class="tattoo-card-container">
  <div class="swiper swiper-tattoo-cards">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% tattoos.each do |tattoo| %>
          <% if tattoo.photo.key %>

            <div class="tattoo-card swiper-slide" id=<%= tattoo.id %>>
              <div class="spinner-border text-light" role="status">
              </div>
              <div class="tattoo-card-content">
                <div class="tattoo-card-image lightbox-img grey-filter" data-id=<%= tattoo.id %>>
                  <%= cl_image_tag tattoo.photo.key, crop: :fill, id:"tattoo-list-picture" %>
                  <span id="lines"></span>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
</div>
