<div class="preview-box">
  <div class="details">
    <div class="details-title"></div>
    <span class="details-icon fas fa-times"></span>
  </div>
  <div class="image-box">
    <img src="" alt="">
  </div>
  <div id="ligthbox-next" class="swiper-button-next"></div>
  <div id="ligthbox-prev" class="swiper-button-prev"></div>
</div>
<div class="shadow"></div>
