<div class="social-links">
  <% if element.facebook %>
    <a href=<%= element.facebook %>><i class="fa fa-facebook"></i></a>
  <% end %>
  <% if element.instagram %>
    <a href=<%= element.instagram %>><i class="fa fa-instagram"></i></a>
  <% end %>
  <% if element.twitter %>
    <a href=<%= element.twitter %>><i class="fa fa-twitter"></i></a>
  <% end %>
  <% if element.linkedin %>
    <a href="#"><i class="fa fa-linkedin-square"></i></a>
  <% end %>
</div>
