<div class="flash-home-container">
  <a href="#main-container">
    <div class="flash-home-content">
      <h1>NOS FLASH</h1>
      <p>Découvre et choisi ton flash</p>
      <div class="flash-home-scroll">
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>
  </a>
</div>
<div class="main-container" id="main-container">
  <div class="flash-index-container">
    <% @flashes.each_with_index do |flash, index| %>
      <% if flash.photo.attached? %>
        <%= render 'flashes/flash_card', flash:flash, index:index %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'shared/preview_box' %>
