<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur notre site, <%= @user.name %>!</h1>
    <p>Merci de vous être inscrit sur notre site.</p>
  </body>
</html>
