.artist-carousel-container {
  padding-top: 5vh;
}

.tattoo-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tattoo-card {
  position: relative;
}

.tattoo-card-content {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 20px;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 4px 4px 10px black;
}

.spinner-border {
  position: absolute;
  top: 45%;
  left: 45%;
}

.tattoo-card-image {
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(1);
    transition: 0.2s;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: none;
  }
}

.grey-filter {
  transition: 0.2s;
}

#lines {
  border-radius: 4px;
  pointer-events: none;
  width: 230px;
  height: 230px;
  transform: translate(10px, 10px);
  border: 1px solid rgba(0, 0, 0, 0.295);
  background: none;
  position: absolute;
  top: 20px;
  left: 20px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .tattoo-card-content {
    width: 150px;
    height: 150px;
    margin: 8px;
  }

  .tattoo-card-image {
    img {
      height: 150px;
    }
  }

  .tattoo-card-info {
    padding: 4px;
    height: 150px;
    pointer-events: none;

    h4 {
      font-size: 0.8rem;
    }
  }

  #lines {
    width: 135px;
    height: 135px;
    top: 5px;
    left: 5px;
  }
}

@media screen and (max-width: 750px) {
  .tattoo-card-content {
    width: 100px;
    height: 100px;
    margin: 8px;
  }

  .tattoo-card-image {
    img {
      height: 100px;
    }
  }

  .tattoo-card-info {
    padding: 4px;
    height: 100px;
    pointer-events: none;

    h4 {
      font-size: 0.8rem;
    }
  }

  .info-over-image {
    transform: translateY(-100px);
  }

  #lines {
    top: 5px;
    left: 5px;
    width: 94px;
    height: 94px;
    transform: translate(6px, 6px);
    border: 1px solid rgba(0, 0, 0, 0.295);
  }
}
